.apps-section-app {
  position: absolute;
  left: 47px;
  top: 29px;
  right: 1px;
  bottom: 1px;
  z-index: 1;
  .apps-section-content {
    height: 100%;
    width: 100%;
    position: relative;
  }
}
