.button {
  display: inline-block;
  vertical-align: middle;
  @include border-radius(2px);
  white-space: nowrap;
  border: 1px solid;
  font-weight: bold;
  cursor: default;
  text-align: center;
  @include user-select(none);
  &.normal {
    color: #fafafa;
    @include background-image(linear-gradient(#6d6d6d 0%, #646464 100%));
    border-color: #4f4f4f;
    &:hover, &:focus {
      @include background-image(linear-gradient(#7d7d7d 0%, #646464 100%));
    }
    &:active {
      @include background-image(linear-gradient(#6d6d6d 0%, #646464 100%));
    }
  }
  &.white {
    @include background-image(linear-gradient(#FDFDFD 0%, #CECECE 100%));
    border-color: #B2B2B2;
    color: #222;
    &:hover, &:focus {
      @include background-image(linear-gradient(#ffffff 0%, #eeeeee 100%));
    }
    &:active {
      @include background-image(linear-gradient(#F0F0F0 0%, #C0C0C0 100%));
    }
  }
  &:active {
    @include box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.2));
  }
  .buttons-group & {
    @include border-radius(0px);
    &:first-child {
      @include border-left-radius(2px);
    }
    &:last-child {
      @include border-right-radius(2px);
    }
    & + .button {
      margin-left: -1px;
    }
  }
}