.sidebar-app {
  position: absolute;
  left: 0;
  top: 28px;
  @include border-bottom-right-radius(6px);
  background-color: rgba(34, 34, 34, 0.6);
  z-index: 3;
  margin-left: -100px;
  @include user-select(none);
  @include transition(300ms margin linear);
  bottom: 0;
  &.active {
    margin-left: 0;
  }
  .icon-sidebar {
    margin: 0 3px 3px;
    cursor: pointer;
    position: relative;
    @include border-radius(5px);
    @include box-shadow(inset 0 0 5px rgba(255, 255, 255, 0.5), 0 0 6px rgba(0, 0, 0, 0.5));
    &:before, &:after {
      position: absolute;
      top: 50%;
      border: solid #aaa;
      left: 100%;
      display: none;
    }
    &:before {
      content: "";
      margin-top: -11px;
      margin-left: 0;
      border-width: 0 0 1px 1px;
      width: 20px;
      height: 20px;
      @include transform(rotate(45deg));
      background-color: #333;
    }
    &:after {
      content: attr(data-title);
      margin-left: 11px;
      margin-top: -15px;
      color: #aaa;
      line-height: 23px;
      padding: 2px 15px 2px 5px;
      font-weight: bold;
      border-width: 1px 1px 1px 0;
      background-color: #333;
      @include border-right-radius(4px);
      @include text-shadow(0 -1px 0px rgba(0, 0, 0, 0.9));
    }
    &:hover {
      &:before, &:after {
        display: block;
      }

    }
  }
  .mask-holder {
    height: 100%;
    width: 100%;
    @include border-radius(5px);
    @include box-shadow(inset 0 10px 13px rgba(255, 255, 255, 0.4));
  }
}