.topbar-app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 28px;
  line-height: 28px;
  background-color: rgba(34, 34, 34, 0.6);
  color: #cacaca;
  z-index: 3;
  @include user-select(none);
}
.top-bar-button {
  float: right;
  position: relative;
  outline: none;
  padding: 0 10px 0 5px;
  + .top-bar-button {
    padding-right: 5px;
  }
  &:focus {
    .top-bar-content-button {
      display: block;
    }
  }
  .top-bar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    line-height: 18px;
    margin: -5px;
    li {
      padding: 3px 8px;
      cursor: pointer;
      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}
.top-bar-content-button {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(34, 34, 34, 0.6);
  padding: 8px;
  display: none;
}