.mysiwe-window {
  position: absolute;
  z-index: 1;
  @include box-sizing(content-box);
  padding-top: 30px;
  &.full-size {
    @include box-sizing(border-box);
  }
  &.active-window, &.moved-window {
    @include box-shadow(0 5px 15px rgba(0, 0, 0, 0.4));
  }
  &.moved-window {
    transform: translateZ(0px);
  }
  .mysiwe-window-head {
    font-weight: bold;
    background-color: rgba(34, 34, 34, 0.3);
    line-height: 29px;
    height: 30px;
    margin-top: -30px;
    color: #aaa;
    cursor: default;
    @include border-top-radius(4px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  .mysiwe-window-content {
    background: #fff;
    @include border-bottom-radius(4px);
    height: 100%;
    width: 100%;
  }
  .mysiwe-window-button {
    height: 13px;
    width: 13px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    line-height: 12px;
    font-size: 10px;
    @include border-radius(50%);
    &.mysiwe-window-close-button {
      background-color: #fc605b;
      border-color: #df4744;
      &:hover {
        background-color: #FF8F8D;
        border-color: #df4744;
      }
    }
    &.mysiwe-window-minimize-button {
      background-color: #fdbd41;
      border-color: #df9c2c;
      &:hover {
        background-color: #FFD890;
        border-color: #df9c2c;
      }
    }
    &.mysiwe-window-maximize-button {
      background-color: #33c748;
      border-color: #27aa35;
      &:hover {
        background-color: #70FF84;
        border-color: #27aa35;
      }
    }
  }
  .mysiwe-window-buttons {
    margin: 7px 8px 8px 2px;
    @include opacity(0.4);
    &.position-left {
      float: left;
      .mysiwe-window-button {
        float: left;
        margin-left: 6px;
      }
    }
    &.position-right {
      float: right;
      margin: 8px 2px 8px 8px;
      .mysiwe-window-button {
        float: right;
        margin-right: 6px;
      }
      + .mysiwe-window-name {
        margin-left: 10px;
      }
    }
  }
  &.active-window {
    z-index: 2;
    .mysiwe-window-buttons {
      @include opacity(1);
    }
    .mysiwe-window-head {
      color: #fff;
      background-color: rgba(34, 34, 34, 0.6);
    }
  }
}
