@import "compass";
@mixin user-select($type){
  -webkit-touch-callout: $type;
  -webkit-user-select: $type;
  -moz-user-select: $type;
  -ms-user-select: $type;
  user-select: $type;
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 800px;
  min-height: 600px;
  position: relative;
  overflow: hidden;
}
html {
  font: 13px/1.2em Ubuntu, Arial, sans-serif normal normal;
  color: #333;
  background-color: #0360B0;
}
body {
  margin: 0;
}

input[type="text"], input[type="password"] {
  -webkit-appearance: none;
  transition: 0.4s box-shadow ease-in-out;
  @include box-sizing(border-box);
  @include box-shadow(0 0 0 transparent);
  &:focus {
    border-color: #0360B0;
    @include box-shadow(0 0 5px rgba(3, 96, 176, 0.8));
    &:-ms-input-placeholder {
      color: transparent;
    }
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &:-moz-placeholder {
      color: transparent;
    }
  }
}
@import "buttons";
@import "bg";
@import "sidebar";
@import "topbar";
@import "apps-section";
@import "windows";
@import "elements/inputs";
@import "apps/clock";
@import "apps/cloudstorage";
@import "apps/login";
@import "apps/music";
@import "apps/notices";
@import "apps/audio";
@import "apps/os";
