.topbar-app .audio-app {
  font-size: 18px;
  line-height: 28px;
  display: block;
  width: 18px;
}
.top-bar-content-button {
  .volume-changer {
    padding: 5px;
  }
  .volume-changer-line {
    width: 3px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    @include border-radius(2px);
    @include box-shadow(inset 1px 1px 2px rgba(0, 0, 0, 0.3));
    position: relative;
  }
  .volume-value-line {
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    @include box-shadow(inset 1px 1px 2px rgba(0, 0, 0, 0.3));
    @include border-radius(2px);
  }
  .volume-changer-moving {
    width: 13px;
    height: 4px;
    background-color: #dadada;
    border: 1px solid #bbb;
    margin-left: -6px;
    margin-top: -4px;
    @include border-radius(50%);
  }
}
.volume-changer-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}