.clock-app {
  @include user-select(none);
  white-space: nowrap;
  float: right;
  .top-button-block {
    display: inline-block;
    cursor: default;
  }
  .minutes-block, .hours-block {
    width: 20px;
  }
  .delimiter-block {
    width: 6px;
    text-align: center;
    &.invisible {
      visibility: hidden;
    }
  }
  .minutes-block {
    text-align: left;
  }
  .hours-block {
    text-align: right;
  }
}
.calendar-applet {
  @include user-select(none);
  line-height: 22px;
  min-width: 200px;
  .month-changer, .year-changer, .changer-button, .calendar-month-name, .calendar-year-name {
    display: inline-block;
  }
  .year-changer {
    margin-left: 20px;
  }
  .changer-button {
    width: 0;
    height: 0;
    border-style: solid;
    cursor: pointer;
    &.next-button {
      border-width: 4px 3px 4px 6px;
      border-color: transparent transparent transparent #eee;
    }
    &.prev-button {
      border-width: 4px 6px 4px 3px;
      border-color: transparent #eee transparent transparent;
    }
  }
  .calendar-month-name {
    width: 70px;
    text-align: center;
  }
  .calendar-year-name {
    width: 50px;
    text-align: center;
  }
  .calendar-today-text {
    white-space: nowrap;
    line-height: 25px;
    cursor: pointer;
  }
  .icon-calendar {
    vertical-align: top;
    margin-right: 5px;
    margin-top: 4px;
  }
  table {
    cursor: default;
    border-spacing: 0;
    margin-top: 5px;
    thead {
      background-color: rgba(0, 0, 0, 0.4);
      color: #bbb;
    }
    tbody {
      color: #eee;
      td {
        &.other-month {
          color: #aaa;
        }
      }
    }
    td {
      padding: 0 4px;
      text-align: center;
    }
  }
}