.cloud-storage-app {
  margin: -7px;
  width: 750px;
  height: 500px;
  background-color: #ddd;
  position: relative;
  .storage-navigation {
    background: #6d6d6d;
    padding: 3px;
  }
  .storage-discs-list {
    position: absolute;
    top: 36px;
    left: 1px;
    width: 170px;
    bottom: 1px;
    background-color: #fff;
    z-index:1;
    @include transition(width ease-out 0.2s);
    &.minimal {
      width: 43px;
    }
  }
  .storage-files-list {
    position: absolute;
    top: 36px;
    left: 172px;
    right: 1px;
    bottom: 1px;
    background-color: #fff;
    @include transition(left ease-out 0.2s);
    overflow: auto;
  }
  .storage-discs-list.minimal + .storage-files-list {
    left: 45px;
  }
  .storage-discs-content {
    height: 100%;
  }
  .storage-discs-connected {
    border-bottom: 45px solid #ddd;
    @include box-sizing(border-box);
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }
  .disc-adding {
    margin-top: -44px;
    background-color: #f4f4f4;
    position: relative;
  }
  .storage-disc {
    padding: 6px 0;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    color: #555;
    line-height: 30px;
    white-space: nowrap;
    position: relative;
    @include user-select(none);
    &:hover {
      background-color: #efefef;
    }
    &:active, &.active {
      background-color: #dfdfdf;
    }
    .icon-disc {
      width: 32px;
      margin-left: 6px;
    }
    .desc-disc {
      line-height: 15px;
      display: inline-block;
      margin-left: 5px;
      width: 110px;
      @include text-shadow (0 1px 0 #fafafa);
    }
    .icon-disc, .desc-disc {
      vertical-align: middle;
    }
    .short-desc-disc {
      color: #888;
      font-size: 11px;
    }
    .name-disc {
      font-weight: bold;
    }
    .short-desc-disc, .name-disc {
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .storage-discs-list.minimal .storage-disc {
    overflow: visible;
    .desc-disc {
      display: none;
    }
  }
  .minimal-discs-list {
    position: absolute;
    top: 0;
    left: 100%;
    width: 13px;
    bottom: -1px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    @include transition(background-color ease-out 0.1s);
    span {
      position: relative;
      display: block;
      height: 100%;
      &:before {
        display: block;
        position: absolute;
        width: 100%;
        margin-top: -20px;
        top: 50%;
        color: #fff;
        content: "◄";
      }
    }
  }
  .minimal-discs-list:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .storage-discs-list.minimal {
    .minimal-discs-list span {
      &:before {
        content: "►";
      }
    }
  }

  .adding-content {
    height: 100%;
    &:after {
      clear: both;
      display: block;
      content: "";
    }
  }
  .discs-buttons-list {
    float: left;
    width: 170px;
    border-right: 1px solid #ddd;
    height: 100%;
    overflow: hidden;
  }
  .option-disc-type {
    cursor: pointer;
    padding: 1px 15px 1px 5px;
    margin: 3px;
    @include border-radius(2px);
    background-color: #EEE;
    border: 1px solid #E0E0E0;
    color: #222;
    line-height: 32px;
    @include user-select(none);
    &:hover {
      background-color: #e0e0E0;
    }
    &:active {
      background-color: #fafafa;
    }
  }
  .option-disc-icon {
    float: left;
    display: block;
  }
  .option-disc-name {
    display: block;
    margin-left: 37px;
    font-weight: bold;
    color: #444;
    width: 100px;
  }
}