.login-app {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px 0;
  margin-left: -171px;
  margin-top: -126px;
  border: 1px solid #888;
  @include border-radius(4px);
  @include opacity(0);
  @include transform(scale(2, 2));
  &.open {
    @include opacity(1);
    @include transform(scale(1, 1));
  }
  &.close {
    @include opacity(0);
    @include transform(scale(0, 0));
  }
  form {
    width: 300px;
    margin: 0 15px;
  }
  input, .form-button {
    outline: none;
  }
  input {
    font: inherit;
    @include border-radius(2px);
    font-size: 15px;
    padding: 8px 10px;
    border: 1px solid #888;
    background-color: #fff;
    width: 100%;
    margin: 0 -1px;
    &:-ms-input-placeholder {
      color: #c8c7c7;
    }
    &::-webkit-input-placeholder {
      color: #c8c7c7;
    }
    &:-moz-placeholder {
      color: #c8c7c7;
    }
  }
  .login-form-field-row {
    + .login-form-field-row {
      margin-top: 15px;
    }
    &.error-row {
      font-weight: bold;
      color: #A00;
      white-space: pre;
    }
    &.submit-button-row {
      line-height: 33px;
      button {
        margin-right: 15px;
        vertical-align: middle;
      }
    }
  }
  .form-button {
    font-size: 13px;
    padding: 8px 20px;
    color: #fff;
    border: 1px solid #fff;
    background: none;
    @include border-radius(2px);
    font-weight: bold;
    cursor: pointer;
    &:focus, &:hover {
      background-color: rgba(0, 0, 0, 0.3);
      border-color: transparent;
    }
  }
  .change-form-mode {
    cursor: pointer;
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }
}
