.radio-app {
  width: 100%;
  height: 100%;
  position: relative;
  @include user-select(none);
  .music-analyse {
    height: 100%;
    overflow: hidden;
    width: 100%;
    display: block;
  }
  .radio-app-list-services {
    width: 30%;
    left: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: auto;
    background: #eee;
    @include text-shadow(0 1px 0 rgba(255, 255, 255, 0.9));
  }
  .add-to-playlist {
    float: right;
    font-weight: bold;
    color: #bbb;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    &:hover {
      @include border-radius(2px);
      color: #222;
      background-color: #fff;
    }
  }
  .controls-block {
    padding: 5px;
    &.left {
      float: left;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
    &.right {
      float: right;
      @include box-shadow(-1px 0 0 rgba(0, 0, 0, 0.2));
    }
    &.left + .controls-block.left, &.right {
      border-left: 1px solid rgba(255, 255, 255, 0.4);
    }
  }
  .player-control {
    display: inline-block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    line-height: 25px;
    vertical-align: bottom;
    outline: none;
    text-align: center;
    &.active, &:active:not(.disabled) {
      @include border-radius(3px);
      border: 1px solid #d0d0d0;
      background-color: #e0e0e0;
      margin: -1px;
    }
    + .player-control {
      margin-left: 5px;
      &:active:not(.disabled) {
        margin-left: 4px;
      }
    }
    &.disabled {
      color: #aaa;
      cursor: default;
      @include text-shadow(0 1px 0 #fff);
    }
  }
  &.equalizer {
    position: absolute;
    background-color: #eee;
    bottom: 0;
    left: 0;
    top: 0;
  }
  .control-buttons {
    background-color: #eee;
    font-size: 14px;
    position: relative;
    overflow: visible;
    height: 35px;
    margin-top: -35px;
    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    &:after {
      clear: both;
      display: block;
      content: "";
    }
  }
  .radio-main-block {
    left: 30%;
    width: 70%;
    height: 100%;
    position: relative;
    border-left: 1px solid #ccc;
    @include box-sizing(border-box);
    .control-panel {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      border-top: 1px solid #ccc;
      height: 180px;
    }
    .playlist-player {
      position: absolute;
      top: 0;
      overflow: auto;
      bottom: 30%;
      margin-bottom: 35px;
      left: 0;
      right: 0;
      .name-track, .author-track, .length-track {
        padding-right: 10px;
        @include box-sizing(border-box);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .name-track {
        width: 200px;
      }
      .author-track {
        width: 180px;
      }
      .play-track {
        width: 20px;
        text-align: center;
        font-size: 12px;
      }
      .length-track {
        width: 100px;
      }
      .image-container {
        width: 30px;
        @include box-sizing(border-box);
        padding: 3px 5px;
      }
      tr.empty-list {
        text-align: center;
        font-weight: bold;
        color: #555;
        td {
          padding: 20px;
        }
      }
      tr.item-playlist {
        cursor: default;
        text-shadow: 0 1px 0 #ffffff;
        @include transition (0.2s background-color, color linear);
        &.checked {
          background-color: #92CCFF!important;
          color: #fff;
          text-shadow: none;
        }
        &.played {
          background-color: #4aa8fa!important;
          color: #fff;
          text-shadow: none;
        }
        &.paused {
          background-color: #92CCFF!important;
          color: #fff;
          text-shadow: none;
        }
        &.for-edit-check {
          background-color: #D6F0FD!important;
          color: #555;
          text-shadow: 0 1px 0 #ffffff;
          + .for-edit-check {
            td {
              border-top: 1px solid #ABD8FF;
              padding-top: 2px;
            }
          }
        }
        &:nth-child(even) {
          background-color: #eee;
        }
        &:nth-child(odd) {
          background-color: #fafafa;
        }
        &:hover {
          background-color: #EAF8FF;
        }
        td {
          width: 10px;
          padding-top: 3px;
          padding-bottom: 3px;
          line-height: 18px;
        }
      }
      img {
        height: 14px;
        vertical-align: middle;
      }
      table {
        width: 100%;
        border-spacing: 0;
      }
    }
  }
  .title-service {
    img {
      height: 18px;
      vertical-align: top;
      margin: 0 5px;
    }
    line-height: 18px;
    padding: 6px 10px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    &:after {
      content: "";
      display: block;
      border-width: 4px 3px 4px 8px;
      position: absolute;
      left: 100%;
      margin-left: -17px;
      top: 50%;
      margin-top: -4px;
      border-color: transparent transparent transparent #555;
      border-style: solid;
    }
    &.opened {
      background-color: #fafafa;
      &:after {
        border-width: 8px 4px 3px 4px;
        border-color: #555 transparent transparent transparent;
      }
    }
  }
  .channels-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    line-height: 18px;
    li {
      display: block;
      padding: 2px 0 2px 25px;
      margin-top: 1px;
      cursor: default;
      &:hover {
        background-color: #fafafa;
      }
    }
    img {
      height: 18px;
      float: left;
      vertical-align: middle;
      margin-right: 5px;
    }
    span {
      display: block;
      margin-right: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .equalizer-panel {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #eee;
    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    .ranger-changer-line {
      height: 160px;
    }
    .label-equalizer-field {
      display: block;
      font-weight: bold;
      font-size: 10px;
      color: #555;
    }
    .equalizer-field {
      float: left;
      width: 10%;
      text-align: center;
    }
    .ranger-container {
      .ranger-value-line {
        background-color: rgba(0, 0, 0, 0.2);
      }
      .ranger-changer-moving {
        width: 16px;
        height: 8px;
        margin-left: -8px;
        margin-top: -5px;
        @include border-radius(2px);
        cursor: move;
      }
    }
  }
}