.notice-app-container {
  float: right;
  top: 0;
  width: 0;
  height: 0;
  position: relative;
  z-index: 3;
}
.notice-app-block {
  margin: 5px 5px 0 0;
  float: right;
  background-color: rgba(0, 14, 31, 0.6);
  color: #fff;
  @include box-shadow(0 0 12px rgba(0, 0, 0, 0.7));
  @include border-radius(6px);
  @include opacity(0);
  padding: 10px 20px;
  z-index: 3;
  &.notice-active {
    @include opacity(1);
  }
  .notice-app-block-content {
    width: 270px;
    min-height: 50px;
    .notice-title {
      font-weight: bold;
    }
    .notice-title + .notice-text {
      padding-top: 6px;
    }
    img + .notice-text-content {
      margin-left: 69px;
    }
  }
  + & {
    margin-top: 15px;
  }
  img {
    max-width: 64px;
    max-height: 64px;
    float: left;
    margin-left: -10px;
    border: 1px solid #aaa;
  }
}